h1, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* tringles (left) */
        .leftTriangle {
            display: flex;
            width: 5;
            height: 5;
            border-top: 10px solid transparent;
            border-right: 15px solid #ff8400;
            border-bottom: 10px solid transparent;
        }

/* trangles (right) */
        .rightTriangle {
            display: flex;
            width: 5;
            height: 5;
            border-top: 10px solid transparent;
            border-left: 15px solid #ff8400;
            border-bottom: 10px solid transparent;
        }

.selectorContainer {
    display: flex;
}

@layer viewport, head, fronthair, backhair, face, suits;

@layer fronthair{
canvas#fronthair{
    border: 1px solid black;
    width: 500px;
    position: absolute;
}
}
@layer face{
    canvas#face{
        border: 1px solid black;
        width: 500px;
        position: absolute;
    }
}
@layer head{
    canvas#head{
         border: 1px solid black;
        width: 500px;
        position: absolute;
        }
    }
@layer suits{
    canvas#suit{
        border: 1px solid black;
        width: 500px;
        position: absolute;
        }
    }
    
@layer backhair{
    canvas#backhair{
        border: 1px solid black;
        width: 500px;
        position: absolute;
        }
    }

