h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@layer viewport, head, fronthair, backhair, face, suits;

@layer fronthair{
canvas#fronthair{
    border: 1px solid black;
    width: 500px;
    position: absolute;
}
}
@layer face{
    canvas#face{
        border: 1px solid black;
        width: 500px;
        position: absolute;
    }
}
@layer head{
    canvas#head{
         border: 1px solid black;
        width: 500px;
        position: absolute;
        }
    }
@layer suits{
    canvas#suit{
        border: 1px solid black;
        width: 500px;
        position: absolute;
        }
    }
    
@layer backhair{
    canvas#backhair{
        border: 1px solid black;
        width: 500px;
        position: absolute;
        }
    }