h1, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FDFDA3;
    background-color: black;
}

/* tringles (left) */
        .leftTriangle {
            display: flex;
            width: 5;
            height: 5;
            border-top: 20px solid transparent;
            border-right: 25px solid #ff8400;
            border-bottom: 20px solid transparent;
        }

/* trangles (right) */
        .rightTriangle {
            display: flex;
            width: 5;
            height: 5;
            border-top: 20px solid transparent;
            border-left: 25px solid #ff8400;
            border-bottom: 20px solid transparent;
        }

.selectorContainer {
    display: flex;
}

.indexPreview {
    font-size: 30px;
}

@layer viewport, head, fronthair, backhair, eyebrows, eyes, mouths, suits;

@layer fronthair{
canvas#fronthair{
    border: 1px solid #ff8400;
    width: 500px;
    position: absolute;
}
}
@layer eyebrows{
    canvas#eyebrows{
        border: 1px solid #ff8400;
        width: 500px;
        position: absolute;
    }
}
@layer eyes{
    canvas#eyes{
        border: 1px solid #ff8400;
        width: 500px;
        position: absolute;
    }
}
@layer mouths{
    canvas#mouths{
        border: 1px solid #ff8400;
        width: 500px;
        position: absolute;
    }
}
@layer head{
    canvas#head{
         border: 1px solid #ff8400;
        width: 500px;
        position: absolute;
        }
    }
@layer suits{
    canvas#suit{
        border: 1px solid #ff8400;
        width: 500px;
        position: absolute;
        }
    }
    
@layer backhair{
    canvas#backhair{
        border: 1px solid #ff8400;
        width: 500px;
        position: absolute;
        }
    }

